@font-face {
  font-family: 'Simpson';
  src: url(../assets/fonts/homer_simpson/Homer_Simpson_Revised.ttf) format('truetype');
}

:root {
  --color-primary: #b1caff;
  --color-add: #ffffff;
  --color-add1: #0ff;
  --color-add2: #ff0;
  --font-size-basic: 10px;
  --content-width-laptop: 102.4rem;
  --content-width-tablet: 76.8rem;
  --content-width-mobile: 41.4rem;
  --content-width-mobile-small: 32rem;
  --font-family-basic: 'Simpson', sans-serif; 
  --slider-width: calc(100vw * 0.533);
  --slider-height: calc(var(--slider-width) * 0.5625);
}

@media (max-width: 1024px) {
    :root {    
    --slider-width: calc(100vw * 0.70);
  }
}

@media (max-width: 768px) {
    :root {   
    --slider-width: calc(100vw * 0.80);
  }
}

@media (max-width: 414px) {
    :root {    
    --slider-width: 32rem;
    --slider-height: 18rem;
  }
}

html {
  font-size: var(--font-size-basic);
  font-family: var(--font-family-basic);
}

body {
  color: var(--color-primary);
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  background-image: url(../assets/img/bg.jpg);
  caret-color: transparent;
}

.header-container,
.slider-container,
.footer-container {
  box-sizing: border-box;
  width: var(--content-width-laptop);
  margin: 0 auto;
  padding: 0 2rem;
}


h1 {
  margin: 2.6rem;
}

.slider__viewport {
  box-sizing: border-box;
  max-width: var(--slider-width);
  height: var(--slider-height);
  margin: 0 auto;  
  overflow: hidden;
  border: 2rem solid var(--color-primary);
  border-radius: 1rem;
  background-color: var(--color-primary);
}

input{
  display: none;
}

.slider {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide {
  height: 100%;
  width: 25%;
  transition: 0.5s ease;
}

#item_1:checked ~ .slider__viewport .slider .slide_1{
  margin-left: 0;
}

#item_2:checked ~ .slider__viewport .slider .slide_1{
  margin-left: -25%;
}

#item_3:checked ~ .slider__viewport .slider .slide_1{
  margin-left: -50%;
}

#item_4:checked ~ .slider__viewport .slider .slide_1{
  margin-left: -75%;
}

.meme{
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.meme_1{
  background-image: url(../assets/img/meme_1.jpg);
}

.meme_2{
  background-image: url(../assets/img/meme_2.jpg);
}

.meme_3{
  background-image: url(../assets/img/meme_3.jpg);
}

.meme_4{
  background-image: url(../assets/img/meme_4.jpg);
}

.slider__dashboard{ 
  display: flex;
  justify-content: space-between;
  max-width: var(--slider-width);
  min-height: 6rem;
  margin: 3rem auto;
}

.slider__statements {
  width: calc(var(--slider-width) - 20rem);
  overflow: hidden;
}

.slider__statements-container {
  width: calc((var(--slider-width) - 20rem) * 4);
  display: flex;
  margin: 0 auto;    
}

.slider__text {
  width: calc(var(--slider-width) - 22rem);
  padding: 0 10px;
  transition: 0.5s ease;
}

#item_1:checked ~ .slider__dashboard .slider__statements .slider__statements-container .text_1{
  margin-left: 0;
}

#item_2:checked ~ .slider__dashboard .slider__statements .slider__statements-container .text_1{
  margin-left: -25%;   
}

#item_3:checked ~ .slider__dashboard .slider__statements .slider__statements-container .text_1{
  margin-left: -50%;
}

#item_4:checked ~ .slider__dashboard .slider__statements .slider__statements-container .text_1{
  margin-left: -75%;
}

label {
  cursor: pointer;
}

.slider__buttons {
  display: flex;
  float: right;  
}

.slider__buttons-container {
  display: flex;
  margin: 0 auto;
}

.btn{
  box-sizing: border-box;
  width: 3rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color-primary);
  background-color: var(--color-primary);  
  cursor: pointer;
  transition: 0.3s linear;
}

label:hover .btn {
  border: 0.2rem solid var(--color-add);
  background: var(--color-add);
}

label:active .btn {
  border: 0.2rem solid var(--color-add);
  background: transparent;
}

input#item_1:checked ~ .slider__dashboard > .slider__buttons > .slider__buttons-container > label[for="item_1"] > .btn,
input#item_2:checked ~ .slider__dashboard > .slider__buttons > .slider__buttons-container > label[for="item_2"] > .btn,
input#item_3:checked ~ .slider__dashboard > .slider__buttons > .slider__buttons-container > label[for="item_3"] > .btn,
input#item_4:checked ~ .slider__dashboard > .slider__buttons > .slider__buttons-container > label[for="item_4"] > .btn {
  background-color: transparent;
}


/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.date-and-git p {
  margin: 0;
}

.date-and-git a {  
  color: var(--color-primary);
  text-decoration: none;
}

.rs-logo {
  width: 10rem;
  height: 4rem;
  background-image: url(../assets/img/rs_school_js.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* MEDIA */

@media (max-width: 1024px) {
  .header-container,
  .slider-container,
  .footer-container {
    width: var(--content-width-tablet);
    padding: 0 2rem
  }
  .slider__statements {
    width: calc(var(--slider-width) - 24rem);
  }
}

@media (max-width: 768px) {
  .header-container,
  .slider-container,
  .footer-container {
    min-width: var(--content-width-mobile);
    width: 80%;
    padding: 0 1rem
  }
  h1 {
    text-align: center;
  }
  .slider__dashboard{ 
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .slider__statements-container {
    width: calc(var(--slider-width) * 4);
    display: flex;
    float: left;
    margin: 0 auto;
  }
  .slider__statements {
    width: 100%;
    float: none;
  }
  .slider__text {
    width: calc(var(--slider-width) - 2.2rem);    
  }
  .slider__buttons {
    float: none;
    margin: 2rem auto;
}
  .slider__dashboard {    
    min-height: 10rem;    
  }
  .slider__buttons-container {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 414px) {
  .header-container,
  .slider-container,
  .footer-container {
    min-width: var(--content-width-mobile-small);
    width: 90%;
    padding: 0 1rem;  
  }  
  .slider__viewport { 
    border: 1rem solid var(--color-primary);
  }  
  .slider__statements {
    width: 100%;
    float: none;
  }
}
